<?xml version="1.0"?>
<launch>

  <arg name="robot_model" default="hera_full"/>
  <arg name="init_pos_x" 	default="0.0"/>
  <arg name="init_pos_y" 	default="0.0"/>
  <arg name="init_yaw"   	default="0.0"/>

  <!-- ####################################################################### -->

  <!-- load hera description -->
  <include file="$(find hera_description)/launch/load_description.launch">
    <arg name="robot_model" default="$(arg robot_model)"/>
    <arg name="init_pos_x" 	default="$(arg init_pos_x)"/>
    <arg name="init_pos_y" 	default="$(arg init_pos_y)"/>
    <arg name="init_yaw"   	default="$(arg init_yaw)"/>
  </include>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen"
    args="-d $(find hera)/config/rviz/mapping.rviz" />

  <!-- start slam_gmapping -->
  <node name="gmapping" pkg="gmapping" type="slam_gmapping" output="screen"
    args="scan:=base_scan_front _base_frame:=base"/>

  <!-- keyboard teleop -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"
    output="screen" launch-prefix="xterm -hold -e"/>

</launch>
