<?xml version="1.0"?>
<launch>

  <!-- main info -->
  <arg name="enable_rviz"         default="false"/>
  <arg name="map_name"            default="fei_k5"/>
  <arg name="resources"           default="$(find hera)/resources"/>

  <!-- robot info -->
  <arg name="robot_name"          default="hera"/>
  <arg name="robot_model"         default="hera_full"/>

  <!-- robot config -->
  <arg name="init_pos_x"          default="0.0"/>
  <arg name="init_pos_y"          default="0.0"/>
  <arg name="init_pos_z"          default="0.0"/>
  <arg name="init_yaw"            default="0.0"/>

  <!-- modules config -->
  <arg name="enable_hear"         default="true"/>
  <arg name="enable_talk"         default="true"/>
  <arg name="enable_map"          default="true"/>
  <arg name="enable_people"       default="true"/>
  <arg name="color_filter"        default="true"/>
  <arg name="enable_navigation"   default="true"/>
  <arg name="enable_manipulator"  default="true"/>
  <arg name="enable_objects"      default="true"/>
  <arg name="enable_octomap"      default="true"/>
  <arg name="enable_color_filter" default="true"/>
  <arg name="enable_detector"     default="true"/>

  <arg name="enable_check_collision" default="true"/>

  <!-- rviz -->
  <group if="$(arg enable_rviz)" >
    <node name="rviz" pkg="rviz" type="rviz" respawn="true"
    args="-d $(find hera)/config/hera.rviz" />
  </group>

    <!-- load resources -->
    <param name="resources" value="$(arg resources)" />

    <!-- load sensors/actuators -->
    <rosparam command="load" file="$(find hera)/config/sensors.yaml" />
    <rosparam command="load" file="$(find hera)/config/actuators.yaml" />

    <!-- start agent -->
    <node name="hera" pkg="hera" type="hera_node"
      launch-prefix="xterm -title $(arg robot_name) -hold -e" />
    <!-- <node name="hera" pkg="hera" type="hera_node" output="screen" /> -->

    <!-- start robot -->
    <include file="$(find hera)/launch/robot.xml" >
      <arg name="robot_name"      default="$(arg robot_name)"/>
      <arg name="robot_model"     default="$(arg robot_model)"/>
      <arg name="init_pos_x"      default="$(arg init_pos_x)"/>
      <arg name="init_pos_y"      default="$(arg init_pos_y)"/>
      <arg name="init_pos_z"      default="$(arg init_pos_z)"/>
      <arg name="init_yaw"        default="$(arg init_yaw)"/>
    </include>

    <!-- start modules -->
    <include file="$(find hera)/launch/modules.xml" >
      <arg name="robot_name"   default="$(arg robot_name)"/>
      <arg name="map_name"     default="$(arg map_name)"/>
      <arg name="resources"    default="$(arg resources)" />
      <arg name="hear"         default="$(arg enable_hear)"/>
      <arg name="talk"         default="$(arg enable_talk)"/>
      <arg name="map"          default="$(arg enable_map)"/>
      <arg name="people"       default="$(arg enable_people)"/>
      <arg name="color_filter" default="$(arg enable_color_filter)"/>
      <arg name="navigation"   default="$(arg enable_navigation)"/>
      <arg name="manipulator"  default="$(arg enable_manipulator)"/>
      <arg name="objects"      default="$(arg enable_objects)"/>
      <arg name="octomap"      default="$(arg enable_octomap)"/>
      <arg name="detector"     default="$(arg enable_detector)"/>
    </include>

</launch>
