<?xml version="1.0"?>
<launch>

  <!-- devices config -->
  <arg name="base"           default="true"/>
  <arg name="laser"          default="true"/>
  <arg name="realsense"      default="true"/>
  <arg name="dynamixel"      default="true"/>

  <!-- base -->
  <group if="$(arg base)" >
    <include file="$(find hera_hw)/launch/base.launch"/>
  </group>

  <!-- laser -->
  <group if="$(arg laser)" >
      <node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node" >
      <remap from="scan" to="base_scan_front" />
      <param name="port" value="/dev/front_laser"/>
      <param name="frame_id" value="base_scan_front"/>
      <param name="min_ang" value="-1.45"/>
      <param name="max_ang" value="1.45"/>
    </node>
  </group>

  <!-- dynamixels -->
  <group if="$(arg dynamixel)" >
      <include file="$(find hera_hw)/launch/motors_control.launch"/>
  </group>

  <!-- realsense -->
  <group if="$(arg realsense)" >
      <node name="realsense_node" pkg="realsense2_camera" type="realsense2_camera_node" output="screen">
        <param name="initial_reset" value="true"/>
      </node>
  </group>

</launch>
